<hr>

<div class="loginFrame" >
    <table style="margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;">
        <tr>
            <td>
                <div>
                    <h1>LOG IN</h1>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="inputField">
                    <input placeholder="Name" [(ngModel)]="name"> - Hint: Fei
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="inputField">
                    <input placeholder="Password" [(ngModel)]="password"> - Hint: 123
                </div>
            </td>
        </tr>
        <!-- testing on FeiWang branch -->
        <tr>
            <td>
                <div class="loginButton" (click)="onClickCheck()">
                    Login
                </div>
            </td>
        </tr>
    </table>
    <div>
        Result is: {{ result }}
    </div>
</div>