<table style="width: 100%; height: 100%;">
  <tr>
    <td>
      <table class="section" style="background: rgb(102, 102, 241); width: 100%;">
        <tr>
          <td>
            <!-- Top Information Bar -->
            <div>
              <h3>Group 24 Assignment - IOU (This is the top information bar)</h3>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table class="section" style="background: rgb(233, 235, 127); width: 100%;">
        <tr>
          <td>
            <!-- Tool Bar -->
            <div>
              <h3>List some functions here: ------- <button>Leaderboard</button> ------ <button>Requests List</button> ------ <button>My Account</button></h3>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr style="height: 100%; width: 100%;">
    <td>
      <!-- Main Body-->
      <table class="section" style="height: 100%; width: 100%;">
        <tr>
          <td style="background: rgb(110, 193, 241); width:35%;">
            <tr>
              <td>
                <span style="text-align:center;">Friends List: (possible functions here) --- <button>add a
                    friend</button> --- <button>delete a friend</button></span>
                <hr>
              </td>
            </tr>
            <tr>
              <td>
                <div>
                  Friend 1
                  <br>
                  Friend 2
                  <br>
                  Friend 3
                </div>
              </td>
            </tr>
          </td>

          <td>
            <tr>
              <td>
                <h2><span style="text-align:center;">Favors List:</span></h2>
                <hr>
              </td>
            </tr>
            <tr>
              <td>
                <favors></favors>
              </td>
            </tr>
          </td>

        </tr>
      </table>
    </td>
  </tr>

  <tr style="position: absolute; bottom: 0;">
    <td>
      <table class="section" style="background: rgb(104, 206, 126); height: 100%; width: 100%;">
        <tr>
          <td>
            <!-- Bottom Status Bar-->
            <div>
              <span>Favors Live News will be shown here!</span>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>












